# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
.env

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Distribution
build/
dist/
*.egg-info/
